@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Sevillana&display=swap');

:root {
  --font-primary: 'Sevillana', cursive;
  --font-secondary: sans-serif;
  --color-bg: #CDB4DB;
  --color-bg-light: #A2D2FF;
  --color-bg-dark: #BDE0FE;
  --color-shadow: #FFC8DD;
  --color-text: #333;
  --color-highlight: blueviolet;
}

body {
  font-family: var(--font-secondary);
}

.sevillana-regular {
  font-family: var(--font-primary);
}

ul {
  display: block;
  background-color: var(--color-bg);
  box-shadow: 10px 5px 5px var(--color-bg-dark);
}

h1, h2 {
  display: block;
  background-color: var(--color-bg-light);
  font-family: var(--font-primary);
  text-align: center;
}

button {
  background-color: var(--color-bg-light);
  font-size: 0;
}

p {
  font-family: var(--font-secondary);
}

img {
  width: 100%;
  height: auto;
}

#desktop {
  transform: rotate(270deg);
}

#gallery {
  text-align: center;
}

#hamburger {
  background-color: var(--color-bg-light);
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.bar1, .bar2, .bar3 {
  display: flex;
  width: 50px;
  height: 5px;
  background-color: var(--color-text);
  margin: 9px 3px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 15px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -15px) rotate(45deg);
}

.navigation {
  display: flex;
  background-color: var(--color-bg-light);
  box-shadow: 10px 5px 5px var(--color-shadow);
}

.navigation a {
  display: none;
  align-self: center;
  text-decoration: none;
  flex: auto;
  padding: 5%;
}

.navigation a:hover {
  color: var(--color-highlight);
  text-decoration: overline;
}

.active {
  color: black;
  font-style: italic;
}

.show a {
  display: block;
}

.hero-image {
  position: relative;
  text-align: center;
  color: white;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 2.5em;
  background-color: transparent;
}

p {
  text-align: center;
}

.box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.paragraph {
  font-size: 1.1em;
  line-height: 1.6;
}



footer {
  text-align: center;
  background-color: #f9f9f9;
}

@media screen and (min-width: 688px) {
  .navigation {
    display: flex;
    text-align: center;
    max-height: 100px;
  }

  .navigation a {
    display: flex;
  }

  #gallery {
    display: block;
    align-self: center;
  }

  #hamburger {
    display: none;
  }
}
