@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Sevillana&display=swap');

.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  

ul {
    display: block;
  background-color: #CDB4DB;
  box-shadow: 10px 5px 5px #BDE0FE;
}
h1 {
    display: block;
    background-color: #A2D2FF;
    font-family: "Sevillana";
    text-align: center;
    

}
button {
    background-color: #A2D2FF ;
    font-size: 0;
}

p {
    font-family: sans-serif;
}

img {
    width: 100%;
  height: auto;
}

#desktop {
    transform: rotate(270deg);
}

#gallery {
  text-align: center;
}



#hamburger {
  background-color: #A2D2FF;
  border: none;
  cursor: pointer;
  margin-left: auto;

}

.bar1, .bar2, .bar3 {
  display: flex;
  width: 50px;
  height: 5px;
  background-color: #333;
  margin: 9px 3px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 15px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -15px) rotate(45deg);
}



.navigation {
  display: flex;
  background-color: #A2D2FF;
  box-shadow: 10px 5px 5px #FFC8DD;
}

.navigation a {
  display: none; 
  align-self: center;
  text-decoration: none;  
  flex: auto;
  padding: 5%;

}

.navigation a:hover {
  color:blueviolet;
  display: block;
  text-decoration: overline;
}

.active {
  color: black;
  font-style: italic;
}

.show a {
  display: block;
}


.hero-image {
  position: relative;
  text-align: center;
  color: white;
}



.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 2.5em;
  background-color: transparent;
}


p{
  text-align: center;
}

.box {
  background-color: #f9f9f9; /* Light gray background color */
  padding: 20px; /* Add some padding around the content */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}

.paragraph {
  font-size: 1.1em; /* Adjust the font size */
  line-height: 1.6; /* Adjust the line height for readability */
}


footer {
  text-align: center;
  background-color: #f9f9f9;
}

@media screen and (min-width: 688px){ 

  .navigation {
      display: flex;
      text-align: center;
      max-height: 100px;
  }

  .navigation a {
      display: flex;
  }
  #gallery {
      display: block; 
      align-self: center;
  }



  #hamburger {
      display: none;
  }
}

