/* Color Variable */
:root {
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --gradient-color: rgba(0, 0, 0, 0.5);
}

/* Hero Image Styles */
.hero-image {
  margin-top: 15px;
  position: relative;
  height: 25vh;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

/* Hero 1 Styles */
#hero-1 {
  background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url('https://www.pelago.co/img/products/IN-India/tour-of-ancient-art-work-in-agra-with-a-local-also-meet-the-artisians/78e2148f-f750-47b9-a751-de5f17ef4406_tour-of-ancient-art-work-in-agra-with-a-local-also-meet-the-artisians-large.webp');
}

/* Hero 2 Styles */
#hero-2 {
  background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url('https://previews.123rf.com/images/limolida/limolida1904/limolida190400547/123378049-woven-motif-sashiko-style-japanese-needlework-seamless-vector-pattern-hand-stitch-indigo-blue-line.jpg');
}
