@media screen and (min-width: 688px){ 
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    
    .cards .temple-card {
        border: 1px solid #ccc; 
        margin: 10px; 
        background-color: aliceblue;
    }

    .navigation {
        display: flex;
        text-align: center;
        max-height: 100px;
    }

    .navigation a {
        display: flex;
    }
    #gallery {
        display: block; 
        align-self: center; 
    }

    #hamburger {
        display: none;
    }
}