@media screen and (max-width: 900px) {
   body {
      display: flex;
      flex-direction: column;
      
  }



  h1 {
   height: fit-content;
  }
    
   .hero{
      background-color: white;
      padding: 0%;
      font-size: x-large;

      
   }
   #hero-image{
      padding-top: 15px;
      padding-bottom: 5px;
      background-color: aquamarine;
   }
   #weather {
      position: static;
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 100%;
    }
    
    #icon {
      float: none;
      width: 20%;
   }

   #data {
      position: static;
      text-align: center;
   }

  
 }