@media screen and (min-width: 688px){ 
    .cards{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .navigation {
        display: flex;
        text-align: center;
    }

 

    #hamburger {
        display: none;
    }
}