@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');

*{
    font-family: "Kalnia", sans-serif;
}

header,main,footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid grey;
    padding: 1rem;
}

header h1 {
    text-align: center;
}



main h2 {
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1fr 1fr;
    max-width: 640px;
}

figure{
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: pink;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    color:blueviolet;
    text-decoration: overline;
}

.active {
    color: black;
    font-style: italic;
}

footer {
    text-align: center;
}